# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env/
.venv/
env/
venv/

# IDE settings
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS, Windows
.DS_Store
Thumbs.db

# Logs and local config
*.log
*.sqlite3
*.db
*.bak
